#logo {
    /*position: fixed;*/
    /*right: 0px;*/
    /*bottom: 0px;*/
    /*height: 75px;*/
    /*width: 67px;*/
    display: flex;
    position: absolute;
    top: 10px;
    left: 20px;
    width: 200px;
}

.navbar {
    background: black;
    padding: 20px 20px 10px 30px;
    margin-top: -15px;
    margin-left: -15px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navbar a {
    text-decoration: none;
}

.nav-mobile {
    display: none;
}

ul.nav {
    color: white;
    text-align: center;
    display: inline-block;
    float: right;
    margin: 10px;
    padding: 30px;
    overflow: hidden;
}

ul.nav a{
    text-decoration: none;
    list-style-type: none;
    color: white;
    padding: 5px;
}

ul.nav li {
    list-style-type: none;
    display: inline-block;
    padding: 0 20px;
}

ul.nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px;
    border-radius: 10px;
}

.footer {
    position: fixed;
    font-size: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px;
    background-color: #0c141b;
    color: white;
    text-align: center;
}

.bg-img {
    margin-top: -50px;
    margin-left: -10px;
}

#steak{
    width: 101%;
}

.text {
    color: white;
    font-size: xxx-large;
    position: absolute;
    align-items: center;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#menu-btn {
    background-color: #edcfb6;
    padding: 10px;
    border-radius: 5px;
    color: black;
    font-size: large;
    position: absolute;
    align-items: center;
    text-align: center;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color: #7c7c7c;
}

#menu-btn:hover {
    background-color: #b78862;
    border-radius: 10px;
}

.sect1 {
    padding: 90px;
    max-width: 55%;
}

#welcome {
    font-size: xx-large;
}

#welcome {

}

@media (max-width: 1000px) {
    ul.nav {
        display: none;
    }

    .nav-mobile {
        background-color: black;
        display: inline-block;
        float: right;
        text-decoration: none;
        list-style-type: none;
        margin-left: 150px;
    }
    .nav-mobile li {
        /*margin: 3px;*/
        margin-top: 30px;
        margin-right: 30px;
        display: inline-block;
    }
    .nav-mobile a {
        color: white;
        text-align: left;
        font-size: small;
        margin-top: 10px;
    }
    .nav-mobile a:hover {
        background-color: rgba(255, 255, 255, 0.3);
        padding: 1px;
        border-radius: 10px;
    }

    .bg-img {
        margin-top: 4%;
    }

    #steak{
        width: 104%;
    }

    .text {
        color: white;
        font-size: xxx-large;
        /*display-inside: ruby;*/
        position: absolute;
        align-items: center;
        text-align: center;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
